/* body {
  background-image: url("./assets/background.png");
  background-image: url("./assets/shahadat-rahman.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center, center, top center;
  padding-top: 10em;
} */ 

* {
  box-sizing: border-box;
}

.NavbarItems {
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 10px lightgrey; */
}

.title {
  justify-content: flex-start;
  align-self: flex-start;
  text-decoration: none;
}

.links {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  align-self: flex-start;
  text-decoration: none;
}

.container {
  position: center center top center;
}