/* * {
  box-sizing: border-box;
} */

.NavbarItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.title {
  text-decoration: none;
  margin-right: auto;
  margin-left: 2rem;
}

.links {
  text-decoration: none;
  justify-content: flex-end;
  margin: 1rem;
}

.title :hover,
.links :hover {
  box-shadow: 2px 2px 5px lightgrey;
  transition: all 200ms ease-in;
}

.container {
  position: center center center;
}

.portfolio {
  display: flex;
  flex-direction: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
