.NavbarItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.title {
  text-decoration: none;
  margin-right: auto;
  margin-left: 2rem;
}

.pages,
.links {
  text-decoration: none;
  justify-content: flex-end;
  margin: 1rem;
}

.pages :hover,
.title :hover {
  color: #008094;
}


.links :hover {
  color: #618833;
}

.container {
  position: center center center;
}

.portfolio {
  display: flex;
  flex-direction: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.backToTop {
  scroll-behavior: "smooth";
}